{% set utils_pages = ['pratique-acces','pratique-horaires','pratique-animations','pratique-plan','pratique-restauration','pratique-services'] %}
{% set zooparc_pages = ['animals','history','missions','dev','photos'] %}
{% set children_pages = ['pad','keeper','ways'] %}
{% set news_pages = ['newthings','posts'] %}
{% set fans_pages = [] %}
{% set shop_pages = [] %}



<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <a id="main-menu-logo" href="{{ path("zpb_sites_zoo_homepage") }}">
                {{ include("ZPBSitesZooBundle:Incs:logo_zooparc_svg.html.twig") }}
            </a>
            <button id="menu-toggler" data-target="#seconday-mainbar-wrapper"><i class="fa fa-bars"></i></button>
            <div class="main-menu-navs">
                <ul>
                    <li class="dropdown{% if active_page in utils_pages %} active{% endif %}"><a href="javascript:void(0)">Pratique</a>
                        {{ include("ZPBSitesZooBundle:Navs:utils.html.twig") }}
                    </li>
                    <li class="dropdown{% if active_page in zooparc_pages %} active{% endif %}"><a href="javascript:void(0)">ZooParc</a>
                        {{ include("ZPBSitesZooBundle:Navs:zooparc.html.twig") }}
                    </li>
                    <li class="dropdown{% if active_page in children_pages %} active{% endif %}"><a href="javascript:void(0)">Enfants</a>
                        {{ include("ZPBSitesZooBundle:Navs:children.html.twig") }}
                    </li>
                    <li class="dropdown{% if active_page in news_pages %} active{% endif %}"><a href="javascript:void(0)">Actualité</a>
                        {{ include("ZPBSitesZooBundle:Navs:news.html.twig") }}
                    </li>
                    <li class="{% if active_page in fans_pages %}active{% endif %}"><a href="">Fans</a></li>
                    <li class="{% if active_page in shop_pages %}active{% endif %}"><a href="">Boutique</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
