<ul>
    <li class="{% if active_page == 'zoo-pratique-acces' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_access") }}">Accès</a></li>
    <li class="{% if active_page == 'zoo-pratique-horaires' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_animations_shows") }}">Horaires et tarifs</a></li>
    <li class="{% if active_page == 'zoo-pratique-animations' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_schedules_prices") }}">Animations et spectacles</a></li>
    <li class="{% if active_page == 'zoo-pratique-plan' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_map") }}">Plan de visite</a></li>
    <li class="{% if active_page == 'zoo-pratique-restauration' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_restos") }}">Restauration</a></li>
    <li class="{% if active_page == 'zoo-pratique-services' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_utils_services") }}">Services</a></li>
</ul>
