<ul>
    <li class="{% if active_page == 'zooparc-animaux' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_zooparc_animals") }}">Animaux</a></li>
    <li class="{% if active_page == 'zooparc-histoire' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_zooparc_history") }}">Histoire</a></li>
    <li class="{% if active_page == 'zooparc-missions' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_zooparc_missions") }}">Missions</a></li>
    <li class="{% if active_page == 'zooparc-dev' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_zooparc_concerns") }}">Développement durable</a></li>
    <li class="{% if active_page == 'zooparc-galerie' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_zooparc_gallery") }}">Galerie photo</a></li>
</ul>
