{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Galeries d'images{% endblock %}



{% block headStyles %}
    {{ parent() }}
    <style>
        .loader{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="messenger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h2 class="sub-header">Toutes les galeries</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Status</th>
                        <th>HD</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if galleries|length>0 %}
                    {% for gallery in galleries %}
                    <tr>
                        <td>{{ gallery.name }}</td>
                        <td>{% if gallery.isPrivate == true %}privée{% else %}public{% endif %}</td>
                        <td>{% if gallery.isHD == true %}oui{% else %}non{% endif %}</td>
                        <td><a class="btn btn-default" href="{{ path("zpb_image_galleries_update", {id: gallery.id}) }}"><i class="fa fa-edit"></i></a></td>
                        <td><button class="btn btn-default delete-gallery-btn" data-url="{{ path("zpb_image_galleries_delete", {id: gallery.id}) }}"><i class="fa fa-trash-o"></i></button><div class="loader"></div></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">Pas de galeries enregistrées</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="messenger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h2 class="sub-header">Créer une galerie</h2>
            <form class="form" id="new-gallery-form">
                <div class="form-group">
                    <label for="new-gallery-name-ipt">Nom de la galerie</label>
                    <input type="text" id="new-gallery-name-ipt" class="form-control"/>
                </div>
                <div class="checkbox">
                    <label for="new-gallery-private-ipt">
                    <input type="checkbox" id="new-gallery-private-ipt"/> Galerie privée ?
                    </label>
                </div>
                <div class="checkbox">
                    <label for="new-gallery-hd-ipt">
                        <input type="checkbox" id="new-gallery-hd-ipt"/> Galerie HD ?
                    </label>
                </div>

                <button class="btn btn-primary" type="button" id="new-gallery-btn">Créer</button><div class="loader" id="new-gallery-loader"></div>
            </form>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>




{% endblock %}
{% block footScripts %}
    {{ parent() }}

    <script>
        var newGalUrl = "{{ path("zpb_image_galleries_xhr_create") }}";

        var galleries = [
            {%- for gallery in galleries -%}
            {{ gallery|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}{%- if loop.last != true -%},{%- endif -%}
            {%- endfor -%}
        ];
    </script>
    <script>
        $(function(){
            // #################################################### vars
            var messenger, newGalNameIpt,newGalPrivateIpt, newGalHdIpt,newGalBtn, newGalLoader;

            messenger = $("#messenger");
            newGalNameIpt = $("#new-gallery-name-ipt");
            newGalPrivateIpt = $("#new-gallery-private-ipt");
            newGalHdIpt = $("#new-gallery-hd-ipt");
            newGalBtn = $("#new-gallery-btn");
            newGalLoader = $("#new-gallery-loader");

            // #################################################### functions

            var showMsg = function(msg, success){
                if(arguments.length <1){
                    messenger.empty();
                    return false;
                }
                var type, title;
                var html =  "<div class=\'alert [[type]] alert-dismissible fade in\' role=\'alert\'><button class=\'close\' data-dismiss=\'alert\' type=\'button\'><span aria-hidden=\'true\'>&times;</span><span class=\'sr-only\'>close</span></button><h4>[[title]]</h4><p>[[msg]]</p></div>";
                if(success === true){
                    type = "alert-success";
                    title = "Succès !";
                } else {
                    type = "alert-danger";
                    title = "Echec !";
                }
                html = html.replace("[[type]]", type).replace("[[title]]", title).replace("[[msg]]", msg);
                messenger.append($(html));
            };

            // #################################################### actions



            newGalBtn.on("click", function(e){
                e.preventDefault();
                var name = newGalNameIpt.val();
                var isPrivate = newGalPrivateIpt.is(":checked") ? "private" : "public";
                var isHD = newGalHdIpt.is(":checked") ? "yes" : "no";
                if(name == ""){
                    return false;
                }
                newGalBtn.hide();
                newGalLoader.show();
                showMsg();
                $.post(newGalUrl, {name: name, isPrivate: isPrivate, isHD: isHD})
                    .done(function(response){
                        if(response.error == false){
                            location.reload(true);
                        } else {
                            newGalBtn.show();
                            newGalLoader.hide();
                            showMsg(response.msg, false);
                        }
                    })
                    .fail(function(xhr){
                        newGalBtn.show();
                        newGalLoader.hide();
                        showMsg(xhr.statusCode+" "+xhr.statusText, false);
                    });
            });

            $(document).on("click", "button.delete-gallery-btn", function(e){
                var self = $(this);
                var url = $(this).data("url");
                var loader = $(this).next(".loader");
                var parent = $(this).parents("tr:first");
                showMsg();
                if( window.confirm("Attention cette action est irréversible. Vous confirmez ?")){
                    self.hide();
                    loader.show();
                    $.ajax({
                        url: url,
                        type: "DELETE"
                    })
                        .done(function(response){
                                if(response.error == false){
                                    showMsg(response.msg, true);
                                    parent.remove();
                                } else {
                                    showMsg(response.msg, false);
                                }
                                self.show();
                                loader.hide();
                            })
                        .fail(function(xhr){
                                showMsg(xhr.statusCode+" "+xhr.statusText, false);
                                self.show();
                                loader.hide();
                            });
                }

            });

        });
    </script>

{% endblock %}
