{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Mise à jour | Galeries d'images{% endblock %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/vendor/ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/admin/master_image_gallery.css"/>
{% endblock %}

{% block headStyles %}
    {{ parent() }}
    <style>
        .loader{
            display: none;
        }
    </style>
{% endblock %}


{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="messenger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h2 class="sub-header">Mise à jour</h2>
            <form class="form" id="new-gallery-form">
                <div class="form-group">
                    <label for="new-gallery-name-ipt">Nom de la galerie</label>
                    <input type="text" id="new-gallery-name-ipt" class="form-control" value="{{ gallery.name }}"/>
                </div>
                <div class="checkbox">
                    <label for="new-gallery-private-ipt">
                        <input type="checkbox" id="new-gallery-private-ipt" {% if gallery.isPrivate == true %}checked="checked" {% endif %}/> Galerie privée ?
                    </label>
                </div>
                <div class="checkbox">
                    <label for="new-gallery-hd-ipt">
                        <input type="checkbox" id="new-gallery-hd-ipt" {% if gallery.isHD == true %}checked="checked" {% endif %}/> Galerie HD ?
                    </label>
                </div>
                <button class="btn btn-primary" type="button" id="new-gallery-btn">Mettre à jour</button><div class="loader" id="new-gallery-loader"></div>
            </form>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h2 class="sub-header">Liste des images</h2>
            <div id="images">
                {% for img in gallery.images %}
                <div class="image" id="img_{{ img.id }}">
                    <table>
                        <tr>
                            <td class="img-handle"></td>
                            <td class="img-position">{{ img.position }}</td>
                            <td class="img-img"><img src="{{ img.adminThumb }}" alt=""/></td>
                            <td class="img-activation"><label for="active_img_{{ img.id }}"><input type="checkbox" id="active_img_{{ img.id }}" data-activation=""/> Activer</label></td>
                            <td class="img-title"><input type="text" value="{{ img.title }}"/></td>
                            <td class="img-delete"><button type="button" class="btn btn-default delete-img-btn" data-img="{{ img.id }}"><i class="fa fa-trash-o"></i></button><div class="loader"></div></td>
                        </tr>
                    </table>
                </div>
                {% endfor %}

            </div>

        </div>
        <div class="col-sm-4 col-md-4">
            <h2 class="sub-header">Nouvelle image</h2>
            <p>Glissez-déposez une image ci-dessous pour l'ajouter à la galerie</p>
            <p>limites: image HD 6Mo, image normale 500Ko</p>
            <p></p> <!-- TODO dimensions/taille image -->

            <div class="dropzone"><div class="loader"></div></div>
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script src="/js/vendor/ui/jquery-ui.min.js"></script>
    <script src="/js/admin/common/jquery.imgUpload.min.js"></script>
    <script src="/js/admin/common/gallery_manager.min.js"></script>
    <script>
        var imgs = [
            {%- for img in gallery.images -%}
            {{ img|json_encode(constant("JSON_PRETTY_PRINT"))|raw }}{%- if loop.last != true -%},{%- endif -%}
            {%- endfor -%}
        ];
        var maxUpload = {% if gallery.isHD %}6291456{% else %}512000{% endif %};
        var uploadUrl = "{{ path("zpb_image_galleries_img_upload", {id: gallery.id }) }}";
        var changeActiveStateUrl = "{{ path("zpb_image_galleries_change_active_state", {id: gallery.id}) }}";
        var deleteImgUrl = "{{ path("zpb_image_galleries_delete_img", {id: gallery.id}) }}";
        var updatePositionUrl = "{{ path("zpb_image_galleries_change_img_position", {id: gallery.id}) }}";
    </script>
    <script>
        $(function(){
            var galleryManager,galleryManagerOptions,uploadImgOptions,sortableImgs, dropZone,messenger;
            sortableImgs = $("#images");
            dropZone = $(".dropzone");
            messenger = $("#messenger");



            var showMsg = function(msg, success){
                if(arguments.length <1){
                    messenger.empty();
                    return false;
                }
                var type, title;
                var html =  "<div class=\'alert [[type]] alert-dismissible fade in\' role=\'alert\'><button class=\'close\' data-dismiss=\'alert\' type=\'button\'><span aria-hidden=\'true\'>&times;</span><span class=\'sr-only\'>close</span></button><h4>[[title]]</h4><p>[[msg]]</p></div>";
                if(success === true){
                    type = "alert-success";
                    title = "Succès !";
                } else {
                    type = "alert-danger";
                    title = "Echec !";
                }
                html = html.replace("[[type]]", type).replace("[[title]]", title).replace("[[msg]]", msg);
                messenger.append($(html));
            };

            var onDone = function(response, uploader){
                galleryManager.addImg(response.datas);
            };

            var updateSortable = function(evt, ui){
                var img = ui.item;
                var imgs = img.parent("#images");
                var id = parseInt(img.attr("id").replace("img_",""));
                var pos = 0;
                imgs.find(".image").each(function(i,e){
                    $(this).find("td.img-position").text(pos++);
                });
                var position = parseInt(img.find("td.img-position").text());
                sortableImgs.sortable("disable");
                showMsg();
                $.ajax(
                        {
                            url: updatePositionUrl,
                            type: "PUT",
                            data: {id: id, position: position}
                        }
                )
                        .done(function(response){
                            if(response.error == false){
                                showMsg(response.msg, true);
                            } else {
                                showMsg(response.msg, false);
                            }
                        })
                        .fail(function(xhr){
                            showMsg(xhr.statusCode+" "+xhr.statusText, false);
                        }).always(function(){
                            sortableImgs.sortable("enable");
                        });
            };

            galleryManagerOptions = {
                changeActiveStateUrl: changeActiveStateUrl,
                deleteImgUrl: deleteImgUrl,
                showMsg: showMsg
            };
            uploadImgOptions = {
                uploadUrl: uploadUrl,
                fileMaxSize: maxUpload,
                onDropped : function(el){
                    console.log(el.$element);
                    el.$element.find(".loader").show();
                },
                always: function(el){
                    el.$element.find(".loader").hide();
                },
                onDone: onDone,
                onFail: function(response){
                    showMsg();
                    showMsg(response.msg, false);
                },
                onError: function(msg){
                    showMsg();
                    showMsg(msg, false);
                }
            };

            galleryManager = new GalleryManager(sortableImgs, imgs, galleryManagerOptions);

            dropZone.imgUpload(uploadImgOptions);

            sortableImgs.sortable({
                handle: ".img-handle",
                cursor: "move",
                placeholder: "phantom",
                update: updateSortable
            });
        });
    </script>
{% endblock %}
