{% set indiv_pages = [] %}
{% set groupes_pages = [] %}
{% set handicap_pages = [] %}
{% set practicle_pages = [] %}
{% set tools_pages = [] %}


<div id="secondary-mainbar-wrapper">
    <div class="container">
        <div class="row">
            <nav id="secondary-mainbar">
                <div class="col-md-2">
                    <div class="menu-block {% if active_page in indiv_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Individuels</a>
                        {{ include("ZPBSitesCEBundle:Navs:individuel.html.twig") }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="menu-block{% if active_page in groupes_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Groupes</a>
                        {{ include("ZPBSitesCEBundle:Navs:groupes.html.twig") }}
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in handicap_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Situation de handicap</a>
                        {{ include("ZPBSitesCEBundle:Navs:handicap.html.twig") }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="menu-block{% if active_page in practicle_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Pratique</a>
                        {{ include("ZPBSitesCEBundle:Navs:pratique.html.twig") }}
                    </div>


                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in tools_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Médiathèque</a>
                        {{ include("ZPBSitesCEBundle:Navs:mediatheque.html.twig") }}
                    </div>

                </div>

            </nav>
        </div>
    </div>
</div>
