{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Communiqués de presse | Nouveau {% endblock %}

{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <a class="btn btn-success" href="{{ path("zpb_admin_press_release_homepage") }}">Retour à la liste</a>
        </div>
    </div>

    <h2 class="subheader">Ecrire</h2>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            {{ form_start(form, {attr:{class: "form", novalidate:true}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.title, null, {label_attr:{class: "control-label"}}) }}
                {{ form_widget(form.title, {attr:{class: "form-control"}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.body, null, {label_attr:{class: "control-label"}}) }}
                {{ form_widget(form.body, {attr:{class: "form-control", "data-editor":"html", "data-editorsize":"large"}}) }}
                {{ form_errors(form.body) }}
            </div>

            {{ form_widget(form.save, {attr:{class: "btn btn-primary"}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}

        </div>
        <div class="col-sm-6 col-md-6">
            <p>image 3/4 min 400*600</p>
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script src="/js/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/vendor/ace/ext-emmet.js"></script>
    <script src="/js/vendor/emmet.js"></script>
    <script src="/js/admin/press/press_release.main.js"></script>
{% endblock %}
