
<div class="container">
    <div class="row footer-row">
        <h4 class="text-center">Suivez-nous</h4>
        <div class="socials">
            <ul class="inline">
                <li><a target="_blank" href="https://www.facebook.com/zoobeauval" class="social-btn facebook"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/zoobeauval" class="social-btn youtube"></a></li>
                <li><a target="_blank" href="https://plus.google.com/106783659632716737284/posts" class="social-btn google"></a></li>
                <li><a target="_blank" href="http://www.pinterest.com/zoobeauval/" class="social-btn pinterest"></a></li>
                <li><a target="_blank" href="http://www.tripadvisor.fr/Attraction_Review-g1163090-d1523840-Reviews-ZooParc_de_Beauval-Saint_Aignan_Loir_et_Cher_Centre.html" class="social-btn trip"></a></li>
                <li><a target="_blank" href="https://twitter.com/zoobeauval/" class="social-btn twitter"></a></li>
                <li><a target="_blank" href="http://instagram.com/zoobeauval/" class="social-btn instagram"></a></li>
            </ul>
        </div>
    </div>

    <div class="row footer-row">
        <div class="col-sm-3 col-md-3 text-center" >
            <h4>Presse</h4>

            <ul>
                <li><a href="">Galerie photo</a></li>
                <li><a href="">Dossiers de presse</a></li>
                <li><a href="">Communiqués de presse</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
            <h4>Contact</h4>
            <ul>

                <li><a href="{{ path("zpb_sites_zoo_faq") }}">Questions fréquentes</a></li>

                <li><a href="{{ path("zpb_sites_sco_contact") }}">Contactez-nous</a></li>
            </ul>
        </div>

        <div class="col-sm-3 col-md-3 text-center">
            <h4>Emploi</h4>
            <p>Rejoignez notre équipe !</p>

            <a href="http://emploi.zoobeauval.com">emploi.zoobeauval.com</a>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
            <h4>Newsletter</h4>

            <p>Inscrivez-vous à notre Newsletter !</p>
            <ul>
                <li><a href="{{ path("zpb_sites_zoo_newsletter_homepage") }}">Je m'abonne !</a></li>

            </ul>
        </div>
    </div>

    <div class="row footer-row">
        <div class="col-sm-12 col-md-12">
            <div class="legals">
                <ul class="inline">
                    <li><span class="alike">&copy; 2014 ZooParc de Beauval</span></li>
                    <li><a href="{{ path("zpb_sites_zoo_legales") }}">Mentions légales</a></li>
                    <li><a href="">Plan du site</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_cgv") }}">C.G.V</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
