{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Sites{% endblock %}

{% block headStyles %}
    {{ parent() }}
    <style>
        #updater{
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>


    <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
            <div id="messenger"></div>
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-7 clo-md-7">
            <h2 class="sub-header">Sites enregistrés</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nom court</th>
                        <th>Url</th>
                        <th>Route</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if sites|length>0 %}
                    {% for site in sites %}
                        <tr id="site_row_{{ site.id }}">
                            <td class="site-name">{{ site.name }}</td>
                            <td class="site-shortname">{{ site.shortname }}</td>
                            <td class="site-url">{{ site.url }}</td>
                            <td class="site-route">{{ site.route }}</td>
                            <td><a class="btn btn-default update-site-btn" href="#" data-site="{{ site.id }}"><i class="fa fa-edit"></i></a></td>
                            <td><a class="btn btn-default delete-site-btn" href="#" data-site="{{ site.id }}"><i class="fa fa-trash-o"></i></a><div class="loader"></div></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">Pas de sites enregistrés</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-5 clo-md-5">
            <div id="updater">
                <h2 class="sub-header">Mise à jour</h2>
                <form class="form" id="update-site-form">

                    <div class="form-group">
                        <label for="update-site-name-ipt">Nom</label>
                        <input class="form-control" type="text" id="update-site-name-ipt"/>
                    </div>

                    <div class="form-group">
                        <label for="update-site-shortname-ipt">Nom court</label>
                        <input class="form-control" type="text" id="update-site-shortname-ipt"/>
                    </div>

                    <div class="form-group">
                        <label for="update-site-route-ipt">Route</label>
                        <input class="form-control" type="text" id="update-site-route-ipt"/>
                    </div>

                    <div class="form-group">
                        <label for="update-site-url-ipt">Url</label>
                        <input class="form-control" type="text" id="update-site-url-ipt"/>
                    </div>

                    <div class="form-group">
                        <label for="update-site-id">id</label>
                        <input class="form-control" type="text" id="update-site-id"/>
                    </div>


                    <button type="button" class="btn btn-primary" id="update-site-btn">Enregistrer</button><div class="loader"></div>

                </form>
            </div>


        </div>
    </div>
    <h2 class="sub-header">Ajouter un site</h2>
    <div class="row">

        <div class="col-sm-5 col-md-5">

            <form class="form" id="create-site-form">

                <div class="form-group">
                    <label for="create-site-name-ipt">Nom</label>
                    <input class="form-control" type="text" id="create-site-name-ipt"/>
                </div>

                <div class="form-group">
                    <label for="create-site-shortname-ipt">Nom court</label>
                    <input class="form-control" type="text" id="create-site-shortname-ipt"/>
                </div>

                <div class="form-group">
                    <label for="create-site-route-ipt">Route</label>
                    <input class="form-control" type="text" id="create-site-route-ipt"/>
                </div>

                <button type="button" class="btn btn-primary" id="create-site-btn">Enregistrer</button><div class="loader"></div>

            </form>

        </div>
        <div class="col-sm-7 col-md-7"></div>
    </div>


{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        var updateSiteUrl = "{{ path("zpb_admin_sites_update") }}";
        var createSiteUrl = "{{ path("zpb_admin_sites_create") }}";
        var deleteSiteUrl = "{{ path("zpb_admin_sites_delete") }}";
    </script>
    <script>
        $(function(){
            var messenger, createSiteBtn, createSiteNameIpt,
                    createSiteShortnameIpt, createSiteRouteIpt,updateSiteId,
                    updateSiteBtn, updateSiteNameIpt, updateSiteShortnameIpt,
                    updateSiteRouteIpt, updateSiteUrlIpt,loader, updater;

            messenger = $("#messenger");
            createSiteBtn = $("#create-site-btn");
            createSiteNameIpt = $("#create-site-name-ipt");
            createSiteShortnameIpt = $("#create-site-shortname-ipt");
            createSiteRouteIpt = $("#create-site-route-ipt");
            updateSiteBtn = $("#update-site-btn");
            updateSiteNameIpt = $("#update-site-name-ipt");
            updateSiteShortnameIpt = $("#update-site-shortname-ipt");
            updateSiteRouteIpt = $("#update-site-route-ipt");
            updateSiteUrlIpt = $("#update-site-url-ipt");
            updateSiteId = $("#update-site-id");
            loader = $(".loader");
            updater = $("#updater");

            loader.hide();

            var showMsg = function(msg, success){
                if(arguments.length <1){
                    messenger.empty();
                    return false;
                }
                var type, title;
                var html =  "<div class=\'alert [[type]] alert-dismissible fade in\' role=\'alert\'><button class=\'close\' data-dismiss=\'alert\' type=\'button\'><span aria-hidden=\'true\'>&times;</span><span class=\'sr-only\'>close</span></button><h4>[[title]]</h4><p>[[msg]]</p></div>";
                if(success === true){
                    type = "alert-success";
                    title = "Succès !";
                } else {
                    type = "alert-danger";
                    title = "Echec !";
                }
                html = html.replace("[[type]]", type).replace("[[title]]", title).replace("[[msg]]", msg);
                messenger.append($(html));
            };

            createSiteBtn.on("click", function(e){
                e.preventDefault();
                if(createSiteNameIpt.val() == "" || createSiteShortnameIpt.val() == "" || createSiteRouteIpt.val() == ""){
                    return false;
                }
                var $self = $(this);
                $(this).hide();
                loader.show();
                showMsg();
                $.post(createSiteUrl,
                        {
                            name: createSiteNameIpt.val(),
                            route: createSiteRouteIpt.val(),
                            shortname: createSiteShortnameIpt.val()
                        })
                        .done(function(response){
                            if(response.error == false){
                                location.reload(true);
                            } else {
                                showMsg(response.msg, false);
                            }
                            $self.show();
                            loader.hide();
                        })
                        .fail(function(xhr){
                            showMsg(xhr.statusCode + " " + xhr.statusText, false);
                            $self.show();
                            loader.hide();
                        });
            });


            $(document).on("click", '.update-site-btn', function(e){
                e.preventDefault();
                var $self = $(this);
                var id = $(this).data("site");
                console.log(id);
                var parent = $(this).parents("#site_row_" + id );

                updateSiteId.val(id+"");
                updateSiteNameIpt.val($("td.site-name", parent).text());
                updateSiteShortnameIpt.val($("td.site-shortname", parent).text());
                updateSiteRouteIpt.val($("td.site-route", parent).text());
                updateSiteUrlIpt.val($("td.site-url", parent).text());
                updateSiteUrlIpt.prop("readonly", "readonly");
                updateSiteId.prop("readonly", "readonly");

                updater.show();

            });

            updateSiteBtn.on("click", function(e){
                e.preventDefault();
                var self = $(this);
                var loader = $(this).next(".loader");
                console.log(loader);
                loader.show();
                $(this).hide();
                showMsg();
                $.ajax({
                    type: "PUT",
                    url: updateSiteUrl,
                    data: {
                        id: updateSiteId.val(),
                        name: updateSiteNameIpt.val(),
                        shortname: updateSiteShortnameIpt.val(),
                        route: updateSiteRouteIpt.val()
                    }
                })
                        .done(function(response){
                            if(response.error == false){
                                showMsg(response.msg, true);
                                clearUpdater();
                                updatePageDatas(response.datas);
                            } else {
                                showMsg(response.msg, false);
                            }
                            self.show();
                            loader.hide();
                        })
                        .fail(function(xhr){
                            showMsg(xhr.statusCode + " " + xhr.statusText, false);
                            clearUpdater();
                            self.show();
                            loader.hide();
                        });
            });

            var clearUpdater = function(){
                updateSiteNameIpt.val("");
                updateSiteShortnameIpt.val("");
                updateSiteRouteIpt.val("");
                updateSiteUrlIpt.prop("readonly", false);
                updateSiteUrlIpt.val("");
                updateSiteId.prop("readonly", false);
                updateSiteId.val("");
                updater.hide();
            };

            var updatePageDatas = function(datas){
                var row = $("#site_row_" + datas["id"]);
                $(".site-name", row).text(datas["name"]);
                $(".site-shortname", row).text(datas["shortname"]);
                $(".site-route", row).text(datas["route"]);
                $(".site-url", row).text(datas["url"]);
            };

            $(document).on("click", ".delete-site-btn", function(e){
                e.preventDefault();
                if(window.confirm("Cette action est irréversible. Vous la confirmez ?")){
                    var $self = $(this);
                    var id = $(this).data("site");
                    var btn = $(this);
                    var loader = btn.next(".loader");
                    var parent = btn.parents("#site_row_" + id );
                    showMsg();
                    btn.hide();
                    loader.show();
                    $.ajax({
                        url: deleteSiteUrl,
                        type: "DELETE",
                        data: {id: id}
                    })
                            .done(function(response){
                                if(response.error == false){
                                    parent.remove();
                                    showMsg(response.msg, true);
                                } else {
                                    showMsg(response.msg, false);
                                }
                                $self.show();
                                loader.hide();
                            })
                            .fail(function(xhr){
                                showMsg(xhr.statusCode + " " + xhr.statusText, false);
                                $self.show();
                                loader.hide();
                            });
                }
                return false;
            });
        });
    </script>
{% endblock %}
