{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Gestion des restaurants | ZooParc{% endblock %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin/master_restaurant.css"/>

{% endblock %}

{% block content %}

<h1 class="page-header">Dashboard | {{ block('title') }}</h1>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div id="messenger"></div>
    </div>
</div>
<div class="row">
    <h3>Gestion</h3>
    <div class="col-sm-8 col-md-8">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>image</th>
                    <th>Nom</th>
                    <th>Status</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody id="restos-list">
                {% if restaurants|length > 0 %}
                {% for resto in restaurants %}
                    <tr id="restaurant_row_{{ resto.id }}">
                        <td class="js-resto-img resto-img">{% if resto.image != null %}<button type="button" class="btn btn-default js-img-btn"><i class="fa fa-eye"></i></button><img src="{{ resto.thumb }}" alt="" id="resto-img-{{ resto.id }}" class="js-resto-img"/>{% endif %}</td>
                        <td class="js-resto-name">{{ resto.name }}</td>
                        <td class="js-resto-status">{% if resto.isOpen == true %}Ouvert{% else %}Fermé{% endif %}</td>
                        <td class="js-resto-open-close"><button class="btn btn-default js-status-btn" type="button" data-id="{{ resto.id }}">{% if resto.isOpen == true %}Fermer{% else %}Ouvrir{% endif %}</button><div class="loader"></div></td>
                        <td class="js-resto-edit"><button type="button" class="btn btn-default js-edit-btn"><i class="fa fa-edit"></i></button></td>
                        <td class="js-resto-delete"><button type="button" class="btn btn-default js-delete-btn" data-id="{{ resto.id }}"><i class="fa fa-trash-o"></i></button><div class="loader"></div></td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Aucun restaurant dans la base de données</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

    </div>
    <div class="col-sm-4 col-md-4"></div>
</div>
<div class="row">
    <div id="new-restaurant">
        <div class="col-sm-8 col-md-8">
            <h3>Ajouter un restaurant</h3>

            <p>Tous les champs et l'image sont obligatoires</p>

            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <form class="form" id="new-restaurant-form">
                        <div class="form-group">
                            <label for="new-restaurant-name" class="control-label">Nom*</label>
                            <input type="text" class="form-control" id="new-restaurant-name"/>
                        </div>
                        <div class="form-group">
                            <label for="new-restaurant-description" class="control-label">Description*</label>
                            <textarea id="new-restaurant-description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-restaurant-num" class="control-label">Numéro sur le plan*</label>
                            <input type="text" class="form-control" id="new-restaurant-num"/>
                        </div>
                        <input type="hidden" id="new-restaurant-image" value=""/>
                        <input type="hidden" id="new-restaurant-thumb" value=""/>
                        <div class="alert alert-danger" id="no-image"></div>
                        <button type="button" class="btn btn-primary" id="new-restaurant-btn">Enregistrer</button><div class="loader"></div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h4>Image d'illustration</h4>

                    <p>Glissez-déposez une image dans la zone ci-dessous*.</p>

                    <div class="dropzone">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>
</div>

    
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        var deleteUrl = "{{ path("zpb_admin_zooparc_restauration_delete") }}";
        var uploadImgUrl = "{{ path("zpb_admin_zooparc_restauration_img_upload") }}";
        var saveUrl = "{{ path("zpb_admin_zooparc_restauration_create") }}";
        var changeStatusUrl = "{{ path("zpb_admin_zooparc_restauration_change_status") }}";
    </script>
    <script src="/js/admin/common/jquery.imgUpload.min.js"></script>
    <script src="/js/devs/new_restaurant_manager.js"></script>
    <script src="/js/devs/restaurant_manager.js"></script>
    <script>
        $(function(){
            var showMsg = function(msg, success){
                if(arguments.length <1){
                    messenger.empty();
                    return false;
                }
                var type, title;
                var html =  "<div class=\'alert [[type]] alert-dismissible fade in\' role=\'alert\'><button class=\'close\' data-dismiss=\'alert\' type=\'button\'><span aria-hidden=\'true\'>&times;</span><span class=\'sr-only\'>close</span></button><h4>[[title]]</h4><p>[[msg]]</p></div>";
                if(success === true){
                    type = "alert-success";
                    title = "Succès !";
                } else {
                    type = "alert-danger";
                    title = "Echec !";
                }
                html = html.replace("[[type]]", type).replace("[[title]]", title).replace("[[msg]]", msg);
                messenger.append($(html));
            };

            var onDone = function(response, uploader){
                newRestaurantManager.addImage(response.datas);
            };

            var newRestaurant, newRestaurantManager, restaurantManagerOptions, restaurantManager,
                    newRestaurantManagerOptions, messenger, dropzone, restoList;
            messenger = $("#messenger");
            newRestaurant = $("#new-restaurant");
            dropzone = $(".dropzone");
            restoList = $("#restos-list");

            dropzone.imgUpload({
                fileMaxSize: 9000000,
                uploadUrl: uploadImgUrl,
                onDropped : function(el){
                    el.$element.find(".loader").show();
                },
                always: function(el){
                    el.$element.find(".loader").hide();
                },
                onDone: onDone,
                onFail: function(response){
                    showMsg();
                    showMsg(response.msg, false);
                },
                onError: function(msg){
                    showMsg();
                    showMsg(msg, false);
                }
            });

            newRestaurantManagerOptions = {
                saveUrl: saveUrl,
                nameId: "#new-restaurant-name",
                descriptionId: "#new-restaurant-description",
                numId: "#new-restaurant-num",
                imageId: "#new-restaurant-image",
                thumbId: "#new-restaurant-thumb",
                saveBtnId: "#new-restaurant-btn",
                noImageId: "#no-image",
                showMsg: showMsg
            };
            restaurantManagerOptions = {
                imgBtn: ".js-img-btn",
                restoImgClass: ".js-resto-img",
                changeStatusUrl: changeStatusUrl,
                rowRestoPrefix: "restaurant_row_",
                statusBtnClass: ".js-status-btn",
                statusTextClass: ".js-resto-status",
                deleteBtnClass: ".js-delete-btn",
                loaderClass: ".loader",
                openText: "Ouvert",
                closeText: "Fermé",
                deleteUrl: deleteUrl,
                showMsg: showMsg
            };
            newRestaurantManager = new NewRestaurantManager(newRestaurant, newRestaurantManagerOptions);
            restaurantManager = new RestaurantManager(restoList, restaurantManagerOptions);


        })
    </script>
{% endblock %}
