{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Parrainage | Animaux | Catégories | ZooParc {% endblock %}

{% block headStyles %}
    <style>
        .loader{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<h1 class="page-header">Dashboard | {{ block('title') }}</h1>


    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h2 class="sub-header">Liste</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th></th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for cat in cats %}
                    <tr>
                        <td><div class="loader"></div></td>
                        <td><input type="text" value="{{ cat.name }}" data-id="{{ cat.id }}" class="update-cat-ipt"/></td>
                        <td></td>
                        <td><button type="button" class="btn btn-default delete-btn" data-id="{{ cat.id }}"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-md-6">
            <h2 class="sub-header">Creation</h2>

            <form class="form">

                <div class="form-group">
                    <label class="control-label" for="">Nom</label>
                    <input type="text" class="form-control"/>
                </div>

                <button class="btn btn-primary create-btn">Enregistrer</button><div class="loader"></div>

            </form>
        </div>
    </div>


{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        var updateUrl = "{{ path("zpb_admin_animal_category_xhr_update") }}";
    </script>
    <script>
        $(function(){

            var update = function($elem){
                var datas, loader;
                loader = $elem.parents("tr:first").find(".loader");
                datas = {
                    id: $elem.data("id"),
                    name: $elem.val()
                };
                // readonly
                $elem.prop("readonly", "readonly");
                //loader
                loader.show();

                //ajax -> result -> readonly-loader-msg
                $.ajax({
                    type: "PUT",
                    url: updateUrl,
                    data: datas
                })
                        .done(function(response){
                            if(response.error == false){
                                 // msg
                            } else {
                                 // msg
                            }
                            $elem.prop("readonly", false);
                            loader.hide();
                        })
                        .fail(function(xhr){ // msg
                            $elem.prop("readonly", false);
                            loader.hide();
                        });
            };

            $(".update-cat-ipt").on("keyup", function(e){
                e.preventDefault();

                if(e.keyCode == 13){
                    $(this).prop("readonly", "readonly");
                    update($(this));
                }

            });
        });
    </script>

{% endblock %}
