<div class="main-top-bar">
    <div class="container main-top-bar-inner">
        <div class="main-top-bar-navs-mobile">
            <ul>
                <li>
                    <button class="main-top-bar-navs-toggler" id="main-top-bar-navs-toggler">Tous les sites de Beauval</button>
                    <ul id="toggle-menu" class="toggle-menu-is-up">
                        <li><a href="{{ path("zpb_sites_zoo_homepage") }}">ZooParc de Beauval</a></li>
                        <li><a href="{{ path("zpb_sites_bn_homepage") }}">Beauval Nature</a></li>
                        <li><a href="http://lesjardinsdebeauval.com">Les Jardins de Beauval</a></li>
                        <li><a href="http://lespagodesdebeauval.com">Les Pagodes de Beauval</a></li>
                        <li><a href="http://leshameauxdebeauval.com">Les Hameaux de Beauval</a></li>
                        <li><a href="http://seminaires.leshotelsdebeauval.com">Séminaires</a></li>
                        <li><a href="{{ path("zpb_sites_ce_homepage") }}">Groupes, CE, Collectivités</a></li>
                        <li><a href="{{ path("zpb_sites_pro_homepage") }}">Professionnels du tourisme</a></li>
                        <li><a href="{{ path("zpb_sites_sco_homepage") }}">Groupes enfants, scolaires</a></li>
                    </ul>
                </li>
            </ul>


        </div>

        <div class="main-top-bar-navs-desktop">
            <ul>
                <li class="{% if active == 'zoo' %}active-site{% endif %}"><a href="{{ path("zpb_sites_zoo_homepage") }}" target="_blank">ZooParc de Beauval</a></li>
                <li class="{% if active == 'bn' %}active-site{% endif %}"><a href="{{ path("zpb_sites_bn_homepage") }}" target="_blank">Beauval Nature</a></li>
                <li class="dropdown {% if active in ['jdb','pdb','hdb'] %}active-site{% endif %}"><a href="javascript:void(0)">Les hôtels de Beauval</a>
                    <ul>
                        <li class="{% if active == 'jdb' %}active-site{% endif %}"><a href="http://lesjardinsdebeauval.com" target="_blank">Les Jardins de Beauval</a></li>
                        <li class="{% if active == 'pdb' %}active-site{% endif %}"><a href="http://lespagodesdebeauval.com" target="_blank">Les Pagodes de Beauval</a></li>
                        <li class="{% if active == 'hdb' %}active-site{% endif %}"><a href="http://leshameauxdebeauval.com" target="_blank">Les Hameaux de Beauval</a></li>
                    </ul>
                </li>
                <li class="{% if active == 'seminaires' %}active-site{% endif %}"><a href="http://seminaires.leshotelsbeauval.com" target="_blank">Séminaires</a></li>
                <li class="dropdown {% if active in ['groupe','pro','scolaire'] %}active-site{% endif %}"><a href="javascript:void(0)">Autres publics</a>
                    <ul>
                        <li class="{% if active == 'groupe' %}active-site{% endif %}"><a href="{{ path("zpb_sites_ce_homepage") }}" target="_blank">Groupes, CE, Collectivités</a></li>
                        <li class="{% if active == 'pro' %}active-site{% endif %}"><a href="{{ path("zpb_sites_pro_homepage") }}" target="_blank">Professionnels du tourisme</a></li>
                        <li class="{% if active == 'scolaire' %}active-site{% endif %}"><a href="{{ path("zpb_sites_sco_homepage") }}" target="_blank">Groupes enfants, scolaires</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
