{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Les équipes du ZooParc de Beauval se tiennent à disposition <br/> pour répondre à toutes vos questions.</p>
                    <address>
                        <span class="name">ZooParc de Beauval</span><br/>
                        <span class="city">41110 Saint Aignan sur Cher</span><br/>
                        <span class="country">France</span>
                        <span class="phone">Tél : 02 54 75 5000</span>
                    </address>
                    {% if is_mobile() and is_tablet() == false %}

                    <p><small><em>formulaire en bas de page</em></small></p>

                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="spacer-40"></div>

    <div class="container">
        <div class="row"> {# ######################### first row ######################### #}
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact07.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Accueil</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-tel">Tél : 02 54 75 5000</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="accueil">Contacter</button>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact02.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Boutique</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-tel">Tél : 02 54 75 62 12</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="boutique">Contacter</button></p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact08.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Ressources Humaines</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Sophie <span>Delord</span></p>
                        <p class="contact-card-cap">Directrice des Ressources Humaines</p>
                        <p class="contact-card-tel">Tél : 02 54 75 62 14</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="rh">Contacter</button>
                    </p>
                </div>
            </div>
        </div> {# ######################### end first row ######################### #}


        <div class="row"> {# ######################### second row ######################### #}
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact06.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Service Commercial</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Stephanie <span>Neuer</span></p>
                        <p class="contact-card-cap">Directrice commerciale</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 26</p>
                        <p>Fax : 02 54 75 74 30</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="commerciaux">Contacter</button>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact03.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Achats</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Samuel <span>Leroux</span></p>
                        <p class="contact-card-cap">Responsable des achats</p>
                        <p class="contact-card-tel">Tél/Fax : 02 54 71 25 19</p>
                        <p class="contact-card-tel">Mobile : 06 76 11 91 04</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="achats">Contacter</button>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact09.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Science et conservation</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Eric <span>Bairrão Ruivo</span></p>
                        <p class="contact-card-cap">Directeur scientifique</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 35</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="science">Contacter</button>
                    </p>
                </div>
            </div>

        </div> {# ######################### end second row ######################### #}


        <div class="row"> {# ######################### third row ######################### #}
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact01.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Pédagogie</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Véronique <span>Baudouin</span> </p>
                        <p class="contact-card-cap">Responsable pédagogique</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 25</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="pedagogie">Contacter</button>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact04.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Communication</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Delphine <span>Delord</span></p>
                        <p class="contact-card-cap">Directrice de la Communication</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 37</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="communication">Contacter</button>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/img/sites/zoo/contact/contact05.jpg" alt="" class="contact-card-img"/>
                    <h4 class="contact-card-title">Presse</h4>
                    <address class="contact-card-address">
                        <p class="contact-card-name">Priscille <span>Lacoste</span></p>
                        <p class="contact-card-cap">Attachée de presse</p>
                        <p class="contact-card-tel">Tél : 01 48 01 00 34</p>
                        <p class="contact-card-tel">Mobile : 06 62 25 51 60</p>
                    </address>
                    <p class="text-center contact-card-btn">
                        <button class="btn btn-blue js-contact" type="button" data-id="presse">Contacter</button>
                    </p>
                </div>
            </div>

        </div> {# ######################### end third row ######################### #}

    </div>

    <div class="spacer-40"></div>

    {% if is_mobile() and is_tablet() == false %}
        <div class="row">
            <div class="col-sm-12 col-md-12" id="contact-form">
                {{ include("ZPBSitesZooBundle:Incs:contact_form.html.twig") }}
            </div>
        </div>
    {% else %}
        <div class="modal" id="contact-modal">
            <a class="modal-close-btn js-modal-close" href="">&times;</a>
            <div class="row">

                <div class="col-sm-12 col-md-12" id="contact-form">
                    {{ include("ZPBSitesZooBundle:Incs:contact_form.html.twig") }}
                </div>

            </div>
        </div>
    {% endif %}


{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        var form = $("#contact-form form");
        var interlocutorId = "#{{ form.interlocutor.vars.id }}";
        var emailId = "#{{ form.email.vars.id }}";
        var messageId = "#{{ form.message.vars.id }}";
        var saveId = "#{{ form.save.vars.id }}"
    </script>

    {% if is_mobile() and is_tablet() == false %}

        <script>
            $(function() {

            });
        </script>

    {% else %}
        <script src="/js/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/devs/modal.js"></script>

        <script>
            $(function(){
                var modal = new Modal($("#contact-modal"));

                var emailIpt = $(emailId), messageIpt = $(messageId);

                $(".js-contact").on("click", function(e){
                    e.preventDefault();
                    var interlocutorSelect = $(interlocutorId);
                    var target = $(this).data("id");
                    interlocutorSelect.val(target);
                    modal.open();
                });

                $(form).validate({
                    submitHandler: function(form) {
                        form.submit();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
