<div class="col-sm-3 col-md-2 sidebar">
    <h4>Articles</h4>
    <ul class="nav nav-sidebar">
        <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <h4>Médias</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_image_galleries_homepage") }}">Galeries d'images</a></li>

    </ul>
    <h4>ZooParc</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_zoo_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_staticpage_homepage") }}">Pages statiques</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_carousel_homepage") }}">Carousel d'entête</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_restauration_homepage") }}">Restauration</a></li>
    </ul>
    <h4>Beauval Nature</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_bn_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="{{ path("zpb_admin_bn_staticpage_homepage") }}">Pages statiques</a></li>
        <li><a href="{{ path("zpb_admin_bn_carousel_homepage") }}">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>Pro</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_pro_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>CE</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_ce_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>Sco</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_sco_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
</div>
