<div class="col-sm-3 col-md-2 sidebar">
    <h4>Général</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_admin_sites_homepage") }}">Sites</a></li>

    </ul>
    <h4>Articles</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_admin_draft_post_homepage") }}">Brouillons <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path("zpb_admin_published_post_homepage") }}">Publiés <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path("zpb_admin_trash_post_homepage") }}">Corbeille <span class="sr-only">(current)</span></a></li>

    </ul>
    <h4>Médias</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_image_galleries_homepage") }}">Galeries d'images</a></li>

    </ul>
    <h4>Parrainage</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_admin_animal_homepage") }}">Animaux</a></li>
        <li><a href="{{ path("zpb_admin_species_homepage") }}">Espèces</a></li>
        <li><a href="{{ path("zpb_admin_animal_category_homepage") }}">Catégories</a></li>
    </ul>
    <h4>ZooParc</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_zoo_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_alerts_homepage") }}">Alertes</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_staticpage_homepage") }}">Pages statiques</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_carousel_homepage") }}">Carousel d'entête</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_frontbox_homepage") }}">Front Boxs</a></li>
        <li><a href="{{ path("zpb_admin_zooparc_restauration_homepage") }}">Restauration</a></li>
    </ul>
    <h4>Beauval Nature</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_bn_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="{{ path("zpb_admin_bn_staticpage_homepage") }}">Pages statiques</a></li>
        <li><a href="{{ path("zpb_admin_bn_carousel_homepage") }}">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>Pro</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_pro_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>CE</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_ce_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
    <h4>Sco</h4>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path("zpb_sites_sco_homepage") }}" target="_blank">Visiter</a></li>
        <li><a href="">Pages statiques</a></li>
        <li><a href="">Carousel d'entête</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
</div>
